<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="row site-map">
                <div class="col-md-12">
                    <hr>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="sm-header">
                        <span class="pull-right fa fa-gbp"></span>

                        <p class="">Loans</p>
                    </div>
                    <ul>
                        <li><a href="//paydayloans.quiddicompare.co.uk">Payday Loans</a></li>
                        <li><a href="/long-term-loans.html">Long Term Loans</a></li>
                        <li><a href="/logbook-loans.html">Logbook Loans</a></li>
                        <li><a href="/peer-to-peer-lending.html">Peer-to-Peer Loans</a></li>
                        <li><a href="/guarantor-loans.html">Guarantor Loans</a></li>
                    </ul>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="sm-header">
                        <span class="pull-right fa fa-credit-card"></span>

                        <p class="">Finance</p>
                    </div>
                    <ul>
                        <li><a href="/credit-checks.html">Credit Checks</a></li>
                        <li><a href="/all-cards.html">All Cards</a></li>
                        <li><a href="/prepaid-cards.html">Prepaid Cards</a></li>
                        <li><a href="/current-accounts.html">Current</a></li>
                        <li><a href="/savings-accounts.html">Savings</a></li>
                    </ul>

                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="sm-header">
                        <span class="pull-right fa fa-tag"></span>

                        <p class="">Others</p>
                    </div>
                    <ul>
                        <li><a href="/blog/">Financial Blog</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron purple-Bar">
                <div class="row">
                    <div class="col-md-3 col-xs-12 text-center">
                        <a href="https://twitter.com/QuiddiCompare" target="_blank"><p class="fa fa-twitter-square"></p></a>

                        <a href="https://www.facebook.com/quiddicompare?refsrc=http%3A%2F%2Fwww.google.co.uk%2F" target="_blank"> <p class="fa fa-facebook-square"></p></a>

                        <a href="https://www.youtube.com/channel/UCFiHkzb5OLuxQcYEzLoamtg" target="_blank"><p class="fa fa-youtube-square"></p></a>

                        <a href="https://plus.google.com/112701833180299588644/posts" target="_blank"><p class="fa fa-google-plus-square"></p></a>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-5 col-xs-12">
                        <p class=" text-center"> <a href="/about-us.html">About us</a> | <a href="/terms-conditions.html">Terms & Conditions</a> | <a href="/privacy.html">Privacy</a> | <a href="/cookie.html">Cookie Policy</a> <span class="hidden-xs hidden-sm">|</span> <a class="hidden-xs hidden-sm" href="/contact.html">Contact</a> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 footer">
            <p class="pull-right">Quiddi Compare is a trading name of Quiddi Hub Limited <br/>
                Quiddi Hub Limited is a licensed credit brokerage business authorised and regulated by the Financial
                Conduct
                Authority Credit Act 1974. <br/>
                Company Number: 07475476 | FCA Interim Permission Number: 642188 | Data Protection: Z2539077
            </p>
            <img class="quiddi-brand hidden-xs hidden-sm"
                 src="/images/quiddi-compare-footer-logo.png">
        </div>
    </div>
    <script src='//d3c3cq33003psk.cloudfront.net/opentag-88319-1600034.js' async defer></script>
</footer>